:root {
  --hlc-blue:#60a5fa;
  --hlc-dark:#0b1220;
  --hlc-panel:#111827;
  --hlc-border:#1f2937;
}

a {
  color:white;
  text-decoration:none;
}

body {
  margin:0;
  font-family:Inter,system-ui,sans-serif;
  background:var(--hlc-dark);
}
